@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fadeIn {
    animation: fadeIn 0.4s cubic-bezier(0.2, 0, 0, 1) forwards;
}

.fadeOut {
    animation: fadeOut 0.4s cubic-bezier(0.2, 0, 0, 1) forwards;
}